.form-header {
	font-family: Kirvy-Thin;
	font-size: 72px;
  margin-bottom: 25px;
  text-align: center;
}

form {
	max-width: 550px;
	margin: 0 auto;
}

.form-control {
	height: 45px;
	font-size: 22px;
	background: #ddd;
	color: #333;
	padding: 0px 12px;
}

label {
	font-size: 24px;
	font-weight: 300;
}

.form-submit {
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
}


// MEDIA QUERIES

// Responsive Styles

// Small Styles
@media (min-width: 768px) and (max-width: 991px) {
	form {
		margin-bottom: 50px;
	}

	.form-header {
		font-size: 62px;
	}	
	
	label {
		font-size: 22px;
	}

	.form-control {
    height: 40px;
  	font-size: 20px;
	}

	.form-submit {
		font-size: 18px;
	}	
}

// Extra-Small styles
@media (max-width: 767px) {
	form {
		margin-bottom: 50px;
	}

	.form-header {
		font-size: 50px;
		margin-top: 10px;
		margin-bottom: 35px;
	}
	
	label {
		font-size: 22px;
	}

	.form-control {
    height: 40px;
  	font-size: 20px;
	}

	.form-submit {
		font-size: 18px;
	}		
}