.home-container {
	height: 100%;
	margin-top: 50px;
	text-align: center;	
}

.home-prompt {
	font-size: 102px;	
	font-family: Kirvy-Thin;
}

.home-input {
	background: transparent;
	border: none;
	border-bottom: 2px solid #eee;
	width: 700px;
	padding-left: 20px;
	padding-bottom: 5px;
	margin-top: 300px;
	font-size: 62px;
	outline: none;
}

.home-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.55);
}


// MEDIA QUERIES

// Small Styles
@media (min-width: 768px) and (max-width: 991px) {
	.home-container {
		margin-top: 50px;
		margin-bottom: 75px;
	}

	.home-prompt {
		font-size: 70px;
	}

	.home-input {
		width: 450px;
		font-size: 42px;
		margin-top: 250px;
	}
}

// Extra Small Styles
@media (max-width: 767px) {
	.home-container {
		margin-top: 0px;
		margin-bottom: 75px;
	}

	.home-prompt {
		font-size: 60px;
	}

	.home-input {
		width: 98%;
		max-width: 350px;
		font-size: 32px;
		margin-top: 200px;
		background: rgba(0, 0, 0, 0.65);
		border: none;
		border-radius: 5px;
	}
}