.notfound-bg {
	position: fixed;
	background: url(images/stardust.png);
	z-index: -5;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.notfound-status {
	font-size: 104px;
	font-family: Kirvy-Thin;
	margin-top: 50px;
}

.notfound-sub-status {
	font-size: 42px;
	font-family: Kirvy-Thin;		
}


// MEDIA QUERIES

// Extra Small Styles
@media (max-width: 767px) {
	.notfound-status {
		font-size: 84px;
	}

	.notfound-sub-status {
		font-size: 34px;		
	}
}