@import 'partials/_header.scss';
@import 'partials/_home.scss';
@import 'partials/_login.scss';
@import 'partials/_register.scss';
@import 'partials/_forms.scss';
@import 'partials/_venues.scss';
@import 'partials/_venue.scss';

@font-face {
	font-family: Kirvy-Thin;
	src: url(fonts/Kirvy-Thin.otf);
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #eee;
	}
}